<h1>Your guess of <%= @guess %> was <%= @guess_message %> </h1>

def guess
          @user_guess = params["submission"].to_i
          winning_number = 42

        if winning_number < @user_guess
          @answer_message = "too high."
        elsif winning_number > @user_guess
          @answer_message = "too low."
        else
          @answer_message = "right on the money!"
        end



<h3><%= @message %></h3>